<!-- <h1>New sub</h1>
 -->
 <div class="site-wrapper">

       <div class="site-wrapper-inner">

         <div class="cover-container">

           

           <div class="inner cover">
             <h1 class="cover-heading">A place for all your stuff.</h1><br />
             <p class="">Get <strong>early access</strong> and <strong>infrequent updates</strong> by email.</p>
             <%= render 'form' %>
           </div>

           

         </div>

       </div>

     </div>


